<!doctype html>

<html>
  
  <head>
    <title>DiveBook</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 50px;
        padding-bottom: 20px;
      }
    </style>
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index/">DiveBook</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/index/">Home&nbsp;<i class="fa fa-home"></i></a>
            </li>
            <li>
              <a href="/dd/">DD Lookup&nbsp;<i class="fa fa-list-alt"></i></a>
            </li>
            <li>
              <a href="/divers/">Divers&nbsp;<i class="fa fa-user"></i></a>
            </li>
            <li>
              <a href="/meets/">Meets&nbsp;<i class="fa fa-calendar"></i></a>
            </li>
          </ul>{% if 'id' not in session %}
          <form method="POST" action="/login/" class="navbar-form navbar-right">
            <div class="form-group">
              <input placeholder="Email" name="email" class="form-control" type="text">
            </div>
            <div class="form-group">
              <input placeholder="Password" name="pass" class="form-control" type="password">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
            <a class="btn btn-info" href="/register/">Sign up</a>
          </form>{% else %}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/profile/">View Profile</a>
                </li>
                <li>
                  <a href="/manageprofile/">Manage Profile</a>
                </li>
                <li>
                  <a href="/dives/">Manage Dives</a>
                </li>
                <li>
                  <a href="/divesheets/">Manage Dive Sheets</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="/logout">Log out</a>
                </li>
              </ul>
            </li>
          </ul>{% endif %}
        </div>
        <!--/.navbar-collapse -->
      </div>
    </div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <h1>Create New Dive Sheet</h1>
      <ul class="list-group"></ul>
      <form method="POST" action="/divesheets/create">
        <div class="form-group">
          <label class="control-label">Title</label>
          <input type="text" class="form-control" placeholder="Title" name="title">
        </div>
		<br>
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th>Dive Order</th>
              <th>Dive (Dive Name, Position, Height)</th>
            </tr>
          </thead>
			<tbody>
			  {% for i in range(1,11) %}<tr>
				<td>{{i}}</td>
        <td>
          <select class="form-control" name="dive{{i}}">
           {% for dive in dives %}
           <option value="{{dive[0]}}">{{dive[1]}} {{dive[2]}} Height:{{dive[3]}}</option>
           {% endfor %}
          </select>
				</td>
			  </tr>{% endfor %}
			</tbody>
        </table>
        <button class="btn btn-primary" type="submit">Save</button>
		{% if message %}<span class="label label-danger">{{ message }}</span>{% endif %}<hr>
      </form>
      <footer>
        <p>&copy; DiveBook 2014</p>
      </footer>
    </div>
    <!-- /container -->
  </body>

</html>