<!doctype html>

<html>
  
  <head>
    <title>DiveBook</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 50px;
        padding-bottom: 20px;
      }
    </style>
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index/">DiveBook</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/index/">Home&nbsp;<i class="fa fa-home"></i></a>
            </li>
            <li>
              <a href="/dd/">DD Lookup&nbsp;<i class="fa fa-list-alt"></i></a>
            </li>
            <li>
              <a href="/divers/">Divers&nbsp;<i class="fa fa-user"></i></a>
            </li>
            <li>
              <a href="/meets/">Meets&nbsp;<i class="fa fa-calendar"></i></a>
            </li>
          </ul>
          {% if 'id' not in session %}
          <form method="POST" action="/login/" class="navbar-form navbar-right">
            <div class="form-group">
              <input placeholder="Email" name="email" class="form-control" type="text">
            </div>
            <div class="form-group">
              <input placeholder="Password" name="pass" class="form-control" type="password">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
            <a class="btn btn-info" href="/register/">Sign up</a>
          </form>
          {% else %}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Profile <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/profile/">View Profile</a>
                </li>
                <li>
                  <a href="/manageprofile/">Manage Profile</a>
                </li>
                <li>
                  <a href="/dives/">Manage Dives</a>
                </li>
                <li>
                  <a href="/divesheets/">Manage Dive Sheets</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="/logout">Log out</a>
                </li>
              </ul>
            </li>
          </ul>{% endif %}
        </div>
        <!--/.navbar-collapse -->
      </div>
    </div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <h1 class="page-header">Add a Doable Dive<br></h1>
      <div class="row">
        <form method="POST" action="/dives/">
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">Select Height
            </div>
            <div class="panel-body">
              <br>
              <select name="height" class="form-control">
                <option value="1">1 metre</option>
                <option value="3">3 metre</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Select Dive
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <span class="label label-default">Group</span>
                  <select name="group" class="form-control">
                    <option value="Forward">Forward</option>
                    <option value="Back">Back</option>
                    <option value="Reverse">Reverse</option>
                    <option value="Inward">Inward</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <span class="label label-default">Dive</span>
                  <select name="dive" class="form-control">
                    <option value="Dive">Dive</option>
                    <option value="Somersault">Somersault</option>
                    <option value="1 1/2 Somersault">1 1/2 Somersault</option>
                    <option value="Double Somersault">Double Somersault</option>
                    <option value="2 1/2 Somersault">2 1/2 Somersault</option>
                    <option value="Triple Somersault">Triple Somersault</option>
                    <option value="3 1/2 Somersault">3 1/2 Somersault</option>
                    <option value="4 1/2 Somersault">4 1/2 Somersault</option>
                    <option value="Flying Somersault">Flying Somersault</option>
                    <option value="Flying 1 1/2 Somersault">Flying 1 1/2 Somersault</option>
                    <option value="Flying 2 1/2 Somersault">Flying 2 1/2 Somersault</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <span class="label label-default">Number of Twists</span>
                  <select name="twist" class="form-control">
                    <option value="0">0</option>
                    <option value="1/2 Twist">1/2 Twist</option>
                    <option value="1 Twist">1 Twist</option>
                    <option value="1 1/2 Twists">1 1/2 Twists</option>
                    <option value="2 Twists">2 Twists</option>
                    <option value="2 1/2 Twists">2 1/2 Twists</option>
                    <option value="3 Twists">3 Twists</option>
                    <option value="3 1/2 Twists">3 1/2 Twists</option>
                    <option value="4 Twists">4 Twists</option>
                    <option value="4 1/2 Twists">4 1/2 Twists</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">Select Position
            </div>
            <div class="panel-body">
              <br>
              <select name="position" class="form-control">
                <option value="A">Straight</option>
                <option value="B">Pike</option>
                <option value="C">Tuck</option>
                <option value="D">Free</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary btn-block">Click to Find DD</button>
        </div></form>
        {% if dd %}
        <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-heading">The DD of {{number}}{{position}} {{name}} on a {{height}} metre board is:
            </div>
            <div class="panel-body">
              <h1>{{dd}}</h1>
              <br>
              <a class="btn btn-success" href="/doable/{{id}}">Add Dive</a>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="row"></div>
      <!-- Example row of columns -->
      <hr>
      <footer>
        <p>&copy; DiveBook 2014</p>
      </footer>
    </div>
    <!-- /container -->
  </body>

</html>