<!doctype html>

<html>
  
  <head>
    <title>DiveBook</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 50px;
        padding-bottom: 20px;
      }
    </style>
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index/">DiveBook</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/index/">Home&nbsp;<i class="fa fa-home"></i></a>
            </li>
            <li class="active">
              <a>DD Lookup&nbsp;<i class="fa fa-list-alt"></i></a>
            </li>
            <li>
              <a>Divers&nbsp;<i class="fa fa-user"></i></a>
            </li>
            <li>
              <a href="/meets/">Meets&nbsp;<i class="fa fa-calendar"></i></a>
            </li>
          </ul>
          <form method="POST" action="/login/" class="navbar-form navbar-right">
            <div class="form-group">
              <input placeholder="Email" name="email" class="form-control" type="text">
            </div>
            <div class="form-group">
              <input placeholder="Password" name="pass" class="form-control" type="password">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <h1 class="page-header">DD Lookup<br></h1>
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">Select Height
            </div>
            <div class="panel-body">
              <select class="form-control">
                <option>1 metre</option>
                <option>3metre</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Select Dive
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <select class="form-control">
                    <option>Forward</option>
                    <option>Back</option>
                    <option>Reverse</option>
                    <option>Inward</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <select class="form-control">
                    <option>Dive</option>
                    <option>Somersault</option>
                    <option>1 1/2 Somersault</option>
                    <option>Double Somersault</option>
                    <option>2 1/2 Somersault</option>
                    <option>Triple Somersault</option>
                    <option>3 1/2 Somersault</option>
                    <option>4 1/2 Somersault</option>
                    <option>Flying Somersault</option>
                    <option>Flying 1 1/2 Somersault</option>
                    <option>Flying 2 1/2 Somersault</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <select class="form-control">
                    <option></option>
                    <option>1/2 Twist</option>
                    <option>1 Twist</option>
                    <option>1 1/2 Twists</option>
                    <option>2 Twists</option>
                    <option>2 1/2 Twists</option>
                    <option>3 Twists</option>
                    <option>3 1/2 Twists</option>
                    <option>4 Twists</option>
                    <option>4 1/2 Twists</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">Select Position
            </div>
            <div class="panel-body">
              <select class="form-control">
                <option>Straight</option>
                <option>Pike</option>
                <option>Tuck</option>
                <option>Free</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <a class="btn btn-primary btn-block">Click to Generate DD</a>
        </div>
        <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-heading">The DD of 101A Forward Dive Straight on 1 metre board is:
            </div>
            <div class="panel-body">
              <h1>1.4</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row"></div>
      <!-- Example row of columns -->
      <hr>
      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div>
    <!-- /container -->
  </body>

</html>