<!doctype html>

<html>
  
  <head>
    <title>DiveBook</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 50px;
        padding-bottom: 20px;
      }
    </style>
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index/">DiveBook</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/index/">Home&nbsp;<i class="fa fa-home"></i></a>
            </li>
            <li>
              <a href="/dd/">DD Lookup&nbsp;<i class="fa fa-list-alt"></i></a>
            </li>
            <li>
              <a href="/divers/">Divers&nbsp;<i class="fa fa-user">&nbsp;</i></a>
            </li>
            <li>
              <a href="/meets/">Meets&nbsp;<i class="fa fa-calendar"></i></a>
            </li>
          </ul>
          <form method="POST" action="/login/" class="navbar-form navbar-right">
            <div class="form-group">
              <input placeholder="Email" name="email" class="form-control" type="text">
            </div>
            <div class="form-group">
              <input placeholder="Password" name="pass" class="form-control" type="password">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>DiveBook Home</h1>
        <p>DiveBook is a user-oriented experience that gives functionality and usability to collegiate divers.</p>
        <p></p>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Who We Are</h2>
          <p>A project team for Rose-Hulman's databases course creating a solution to a real problem. The team consists of Si Fi Faye Li (Project Creator, Developer, and Designer), Mason Schneider (Developer, Server Manager, and Database Administrator), and Mark Hein (Developer and Query Optimizer)</p>
          <p></p>
        </div>
        <div class="col-lg-4">
          <h2>What We Do</h2>
          <p>DiveBook is a diver database to streamline the dive meet process. Currently in a D<span id="docs-internal-guid-381fffef-d05b-5af8-4f5f-1a43328cad7b"><span style="font-size: 15px; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; vertical-align: baseline; white-space: pre-wrap;">ive meet, everything is handled through hand written forms and scores are calculated manually through the use of large tables. DiveBook will expedite this process and take stress off both the divers and the judges. It will also allow easier record keeping which is a prevalent annoyance involved in current dive meets.</span></span></p>
          <p></p>
        </div>
        <div class="col-lg-4">
          <h2>Features</h2>
          <p>One major purpose of DiveBook is Degree of Difficulty lookup for dives. DiveBook also allows divers to complete, store, and share dive sheets. This makes the process of dive meets much easier, as DiveBook almost completely eliminates typos and errors that can cause disqualifications. DiveBook will track divers history, score statistics, and personal information.</p>
          <p></p>
        </div>
      </div>
      <hr>
      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div>
    <!-- /container -->
  </body>

</html>